.MovieLibrary {
  text-align: center;
}

.ML-logo {
  animation: ML-logo-spin infinite 8s ease;
  height: 50px;
}

.ML-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  color: white;
  background-color: #1a1a1a;
}

.ML-title {
  color: #fff;
  font-size: 20px;
}

.ML-intro {
  font-size: large;
}

@keyframes ML-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}
